<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#AFFFE7" />
    <meta
      name="description"
      content="Valrise Star is a private agency, whose purpose is to cover the news across the State of San Andreas and bring entertainment along with knowledge to its citizens."
    />
    <link rel="stylesheet" href="index.css" />
    <link rel="shortcut icon" href="../Gallery/logo.webp" />

    <title>Valrise Star | Template</title>
  </head>
  <body>
    <img
      id="page-bg2"
      src="../Gallery/premier.webp"
      alt="background-2"
      draggable="false"
      unselectable="on"
    />
    <div id="news-container">
      <div id="header">
        <div id="header-2"></div>
        <img
          src="../Gallery/heading.webp"
          id="news-header"
          alt="header"
          draggable="false"
          unselectable="on"
        />
        <a href="https://www.valrise-star.com/"></a>
      </div>

      <div id="title">Something else happens. CRAZY!</div>
      <div id="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisi mi,
          semper sit amet imperdiet in, porta vitae arcu. Nam luctus pretium
          ultricies. Etiam non accumsan nisi, sit amet auctor risus. Quisque
          mollis pellentesque eros, vel ultricies magna convallis in. Aliquam
          erat volutpat. Vivamus eleifend nisi orci, ultrices tincidunt lacus
          iaculis tempor. Donec consectetur leo quis est lacinia ornare.
          Maecenas at arcu ullamcorper erat aliquam convallis quis sed nisl.
          Duis a mauris vitae orci interdum mattis in vel tellus. Nulla ut
          aliquet sem. Nulla vitae felis tristique, finibus eros eleifend,
          tincidunt tellus. Etiam suscipit feugiat lectus, in rutrum sapien
          vehicula nec. Quisque ut lectus et libero volutpat venenatis nec sit
          amet diam. Duis interdum at lacus et pulvinar. Nam fermentum nulla a
          tortor tincidunt sodales. Sed eu mollis tellus. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Nam nisi mi, semper sit amet
          imperdiet in, porta vitae arcu. Nam luctus pretium ultricies. Etiam
          non accumsan nisi, sit amet auctor risus. Quisque mollis pellentesque
          eros, vel ultricies magna convallis in. Aliquam erat volutpat. Vivamus
          eleifend nisi orci, ultrices tincidunt lacus iaculis tempor. Donec
          consectetur leo quis est lacinia ornare. Maecenas at arcu ullamcorper
          erat aliquam convallis quis sed nisl. Duis a mauris vitae orci
          interdum mattis in vel tellus. Nulla ut aliquet sem. Nulla vitae felis
          tristique, finibus eros eleifend, tincidunt tellus. Etiam suscipit
          feugiat lectus, in rutrum sapien vehicula nec. Quisque ut lectus et
          libero volutpat venenatis nec sit amet diam. Duis interdum at lacus et
          pulvinar. Nam fermentum nulla a tortor tincidunt sodales. Sed eu
          mollis tellus.
        </p>

        <img
          src="../Gallery/idlewood.webp"
          alt="news"
          id="news-photo"
          draggable="false"
          unselectable="on"
        />
      </div>
    </div>

    <a href="#news-header" id="test" class="header"
      ><i class="fas fa-arrow-up"></i
    ></a>

    <script src="index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a5a841ddfe.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
